{% include "header.html" %}
<div class="container py-5 mb-auto">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
    <h3 class="display-6 fw-bold mb-3 text-primary">Hello,{{user.name}}</h3>
{% if num_tasks == 0: %}
    <div class="text-center"> 
    <p class="fs-5 text-body-secondary"> No Available task</p>
{% endif %}
    <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
             Add New Task
        </button>
    </div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-body-tertiary">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-primary" id="staticBackdropLabel">Add New Task</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="p-4 p-md-5 border rounded-3" action="{{url_for('addtask')}}" method="post">
            <div class="form-floating py-3">
                <input type="text" class="form-control" id="task" placeholder="Task" name="task" required>
                <label for="text">Task</label>
            </div> 
           
            <div class="form-floating py-3">
                <label for="datetime" class="form-label">Start</label>
                <input type="datetime-local" id="datetime" name="start_time" class="form-control" required>
            </div>
            <div class="form-floating py-3">
                <label for="datetime" class="form-label">End</label>
                <input type="datetime-local" id="datetime" name="end_time" class="form-control" required>
            </div>
           
            <div class="row">
                <div class="col-md-6 form-floating py-3">
                    <div class="form-check">
                      <input class="form-check-input" name="everyday" type="checkbox" id="gridCheck" value="True">
                      <label class="form-check-label" for="gridCheck">
                        Everyday
                      </label>
                    </div>
                </div>
                <div class="col-md-6 form-floating py-3">
                    <div class="form-check">
                      <input class="form-check-input" name="all_day" type="checkbox" id="gridCheck" value="True">
                      <label class="form-check-label" for="gridCheck">
                        All Day
                      </label>
                    </div>
                </div>
            </div>
            <div class="form-floating">
                <textarea class="form-control" name="details" placeholder="Add any more detail of the eask" id="floatingTextarea"></textarea>
                <label for="floatingTextarea">Details</label>
              </div>

        
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Add Task</button>
    </form>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<!-- Tasks -->
<div class="container my-5">
{% for task in tasks %}
        <div class="bg-body-tertiary  border rounded-3 mb-auto p-3 my-3" style="max-width: 600px;">
          <h6 class="lead fw-bold text-primary">{{task.task}}</h6>
          <p>From: {% if not task.everyday %} {% if task.start %}{{task.start.split("|")[0]}} {% endif %} {% else: %} <strong class="text-primary">Everyday</strong> {% endif %} {% if not task.all_day %}  {% if task.start %} {{task.start.split("|")[1]}}{% endif %} {% else: %} <strong class="text-primary">All Day</strong> {% endif %}</p>
          {% if not task.everyday and not task.all_day %}
          <p>Till: {% if task.end %} {{task.end.split("|")[0]}}{% endif %} {% if not task.all_day %} {% if task.end %} {{task.end.split("|")[1]}} {% endif %} {% endif %}</p>
          {% endif %}
          {% if task.details %}
          <p class="mb-auto py-2">{{task.details}}</p>
          {% endif %}
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="{{url_for('delete',task_id = task.id)}}" class="btn btn-danger">
             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
              </svg>
              Delete
            </a>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Edit">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
              <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"></path>
              </svg>
              Edit
            </button>
            <div class="modal fade" id="Edit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content bg-body-tertiary">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5 text-primary" id="staticBackdropLabel">Edit {{task.task}}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form class="p-4 p-md-5 border rounded-3" action="{{url_for('edit',task_id = task.id)}}" method="post">
                        <div class="form-floating py-3">
                            <input type="text" class="form-control" id="task" placeholder="Task" name="task" required>
                            <label for="text">Task</label>
                        </div> 
                       
                        <div class="form-floating py-3">
                            <label for="datetime" class="form-label">Start</label>
                            <input type="datetime-local" id="datetime" name="start_time" class="form-control" required>
                        </div>
                        <div class="form-floating py-3">
                            <label for="datetime" class="form-label">End</label>
                            <input type="datetime-local" id="datetime" name="end_time" class="form-control" required>
                        </div>
                       
                        <div class="row">
                            <div class="col-md-6 form-floating py-3">
                                <div class="form-check">
                                  <input class="form-check-input" name="everyday" type="checkbox" id="gridCheck" value="True">
                                  <label class="form-check-label" for="gridCheck">
                                    Everyday
                                  </label>
                                </div>
                            </div>
                            <div class="col-md-6 form-floating py-3">
                                <div class="form-check">
                                  <input class="form-check-input" name="all_day" type="checkbox" id="gridCheck" value="True">
                                  <label class="form-check-label" for="gridCheck">
                                    All Day
                                  </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-floating">
                            <textarea class="form-control" name="details" placeholder="Add any more detail of the eask" id="floatingTextarea"></textarea>
                            <label for="floatingTextarea">Details</label>
                          </div>
            
                    
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Change</button>
                </form>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            
                  </div>
                </div>
              </div>
            </div>
            {% if not task.completed %}
            <a href="{{url_for('completed',task_id = task.id)}}" class="btn btn-success  mx-auto">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
              </svg>
              Completed
            </a>
            {% else: %}
            <p class="text-success fw-bold mx-auto"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
              <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0"/>
              <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
            </svg>
            Completed
          </p>
            {% endif %}
          </div>


        </div>
{% endfor %}
</div>
<!-- Modal -->

</div>



{% include "footer.html" %}